<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
</head>

<body>
    <h1>{{ mars[0].Title }}</h1>
    <br />
    <p>{{ mars[0].Extract }}</p>
    <!-- {{ mars[0].Featured Image }} -->
    <!-- <img src=a lt="" /> -->
</body>

</html>